<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontSizeSmall</key>
	<integer>15</integer>
	<key>fontSizeMedium</key>
	<integer>20</integer>
	<key>fontSizeLarge</key>
	<integer>25</integer>
</dict>
</plist>
